<div class="content-creat">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mdr-1">
                <div class="content-creat-img">
                    <img src="assets/img/unsplash.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-7 ">
                <div class="content-creat-text">
                    <h1>Content Creation</h1>
                    <p>Using generated content can help to enhance purchase decisions.
                        Influencers are generally considered to be knowledgeable people who are experienced at
                        detailing how a specific product should work. Recruit Influencers to create authentic content
                        with your brand and win new customers.</p>
                </div>
            </div>
        </div>
    </div>
</div>