<div class="wht-work">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="wht-work-singup">
                    <img src="assets/img/user-plus.png" alt="">
                    <h1>Sign up</h1>
                    <p>Successful businesses have many things in common, today we’ll look at the big ‘R’of recognition
                        and how a digital advertising network may help.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wht-work-select">
                    <img src="assets/img/check-circle-1.png" alt="">
                    <h1>Select Influencer</h1>
                    <p>Successful businesses have many things in common, today we’ll look at the big ‘R’of recognition
                        and how a digital advertising network may help.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wht-work-process">
                    <img src="assets/img/activity.png" alt="">
                    <h1>Process is completed</h1>
                    <p>Successful businesses have many things in common, today we’ll look at the big ‘R’of recognition
                        and how a digital advertising network may help.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wht-work-buy">
                    <img src="assets/img/dollar-sign-1.png" alt="">
                    <h1>Sign up</h1>
                    <p>Successful businesses have many things in common, today we’ll look at the big ‘R’of recognition
                        and how a digital advertising network may help.</p>
                </div>
            </div>
        </div>
    </div>
</div>