<div class="wht-influencer">




    <div class="container">
        <div class="row">

            <div class="col-md-5">
                <div class="wht-influencer-left">
                    <img src="assets/img/user-2.png" alt="">
                    <h1>What is Influencer?</h1>
                    <p>Influencer marketing (also influence marketing) is a form of marketing in which focus is placed
                        on
                        influential people rather than the target market as a whole. It identifies the individuals that
                        have influence over potential customers, and orients marketing activities around these
                        influencers.</p>
                </div>
            </div>
            <div class="col-md-1 offset-md-1">
                <div class="wht-influencer-center">
                </div>
            </div>
            <div class="col-md-5">
                <div class="wht-influencer-right">
                    <img src="assets/img/briefcase.png" alt="">
                    <h1>Why working with influencers ?</h1>
                    <p>Social reach: They can reach millions of people with social media.
                        Original content: Influencers are original, creative, unusual and marketing purposes.

                        Consumer confidence: Strong relationships with influencers mass audience; followers rely on
                        influencers’ ideas.</p>
                </div>
            </div>


        </div>
    </div>
</div>
