<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <div class="footer-logo">
                    <img src="assets/img/logo2.png" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-list">
                    <ul>
                        <li><a href="">How to advertise?</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-social">
                    <ul>
                        <li><a href=""><img src="assets/img/facebook.png" alt=""></a></li>
                        <li><a href=""><img src="assets/img/twintter.png" alt=""></a></li>
                        <li><a href=""><img src="assets/img/instagram.png" alt=""></a></li>
                        <li><a href=""><img src="assets/img/linkedin.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>