.footer {
    background-color: #212b36;
    padding-bottom: 40px;
    padding-top: 40px;

    &-logo {}

    &-list {
        ul {
            li {
                display: inline;
            }
        }
    }

    &-social {
        ul {
            li {
                display: inline;
            }
        }
    }
}