<div class="Promotions">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="Promotions-text">
                    <h1>Reklamlar</h1>
                </div>
            </div>
        </div>
        <div class="row">


            <div class="col-md-4">
                <div class="adws-group">
                    <div class="adws-group-img">
                        <img src="assets/img/mask.png" alt="" class="img-fluid">
                        <p>Steps In Installing Rack Mount Lcd Monitors

                        </p>
                    </div>
                    <button>Reklama başvur</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="adws-group">
                    <div class="adws-group-img">
                        <img src="assets/img/mask.png" alt="" class="img-fluid">
                        <p>Steps In Installing Rack Mount Lcd Monitors

                        </p>
                    </div>
                    <button>Reklama başvur</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="adws-group">
                    <div class="adws-group-img">
                        <img src="assets/img/mask.png" alt="" class="img-fluid">
                        <p>Steps In Installing Rack Mount Lcd Monitors

                        </p>
                    </div>
                    <button>Reklama başvur</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="adws-group">
                    <div class="adws-group-img">
                        <img src="assets/img/mask.png" alt="" class="img-fluid">
                        <p>Steps In Installing Rack Mount Lcd Monitors

                        </p>
                    </div>
                    <button>Reklama başvur</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="adws-group">
                    <div class="adws-group-img">
                        <img src="assets/img/mask.png" alt="" class="img-fluid">
                        <p>Steps In Installing Rack Mount Lcd Monitors

                        </p>
                    </div>
                    <button>Reklama başvur</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="adws-group">
                    <div class="adws-group-img">
                        <img src="assets/img/mask.png" alt="" class="img-fluid">
                        <p>Steps In Installing Rack Mount Lcd Monitors

                        </p>
                    </div>
                    <button>Reklama başvur</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="adws-group">
                    <div class="adws-group-img">
                        <img src="assets/img/mask.png" alt="" class="img-fluid">
                        <p>Steps In Installing Rack Mount Lcd Monitors

                        </p>
                    </div>
                    <button>Reklama başvur</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="adws-group">
                    <div class="adws-group-img">
                        <img src="assets/img/mask.png" alt="" class="img-fluid">
                        <p>Steps In Installing Rack Mount Lcd Monitors

                        </p>
                    </div>
                    <button>Reklama başvur</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="adws-group">
                    <div class="adws-group-img">
                        <img src="assets/img/mask.png" alt="" class="img-fluid">
                        <p>Steps In Installing Rack Mount Lcd Monitors

                        </p>
                    </div>
                    <button>Reklama başvur</button>
                </div>
            </div>
        </div>
    </div>
</div>